body {
    background-color: gainsboro;
    color: black;
}
p, .novel, .newsLetterContainer, .admin, .containerAdmin, .containerContact, .containerFormConnexion, .commentChapterForm, .containerCommentDisplay{
    margin: 10px;
    padding: 10px;
}
img{
   
    padding: 10px;
}
.menu{
    margin-top: 7%;
}
.navbar{
    background-color: silver;
}
.title{
    color: black;
}
.banner{
    height: 500px;
    width: 1920px;
    background-image: url(../media/bannerBlog.jpg);
}
.bannerAdmin{
    height: 250px;
    width: 1920px;
    background-image: url(../media/bannerAdmin.jpg);
}

.titleBlog{
    padding-top: 10%;
    text-shadow: 3px 3px 3px silver;
}
.titleAdmin{
    padding-top: 5%;
    text-shadow: 5px 5px 2px black;
}
.txtAuthor, .txtBlog, .novel, .newsLetterContainer, .navbar, .containerChapter, .containerContact, .containerFormConnexion, .commentChapterForm, .containerCommentDisplay, .containerAdmin{
    background-color: silver;
    border: thick double black;
}
.title{
    padding-left: 10px;
}
.txtAuthor{
    height: 160px;
}

.novel{
    height: 220px;
}
.formNews {
    margin: auto;
    width: 300px;
}
.commentForm, .comment, .formNews{
    margin: auto;
    width: 600px;
}
.containerChapter{
    margin: 10px;
    padding-top: 10px;
}
.formContact{
    margin: auto;
    width: 500px;
}